.granContenedor {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--colorW);
}

.midContenedor {
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--colorW);
}

.contenedorTitulo {
  background-color: var(--color3);
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorInputs {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  input:focus {
    outline: none;
    border: 1px solid var(--color3);
    transition: border 1s ease-in-out;
  }
}

.tituloLog {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  margin: 0;
  color: var(--colorW);
}

.subtLog {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

.segundoSubtLog {
  margin-top: 0px;
  margin-bottom: 0px;
}

.inputField {
  padding-left: 15px;
  padding-right: 25px;
  width: 260px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #4ebbf2;
  font-family: 'Montserrat', sans-serif;
}

#inputEmail {
  background: url("../images/at-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputEmailRecover {
  background: url("../images/at-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
  width: 500px;
}

#inputPass {
  background: url("../images/key-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

.hugeContenedor {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--colorW);
}

.contenedorTitulo2 {
  background-color: var(--color3);
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorInputs2 {
  margin-top: 25px;
  width: 800px;
  height: 400px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  input:focus {
    outline: none;
    border: 1px solid var(--color3);
    transition: border 1s ease-in-out;
  }
}

.contenedorInputs3 {
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;

  input:focus {
    outline: none;
    border: 1px solid var(--color3);
    transition: border 1s ease-in-out;
  }
}

.spacer1 {
  margin-left: 10px;
  margin-right: 10px;
}

.spacer2 {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
*/

#inputApellido {
  background: url("../images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputNombre {
  background: url("../images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputDate {
  background: url("../images/calendar-days-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputDNI {
  background: url("../images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputPhone {
  background: url("../images/phone-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

.subtLog2 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  color: var(--colorW);
}

.browse {
  width: 100px;
  height: 100vh;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  color: var(--colorW);

  a:first-child {
    margin-top: 100px;
  }
}

.content {
  width: 100vw;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--colorB);
}

.userBar {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color3);
}

.userName {
  margin-right: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  color: var(--colorW);
}

.userPic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 50px;
  background-color: var(--colorW);
}

.menuItem {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 3px;
  min-width: 75px;
  max-width: 150px;
  min-height: 75px;
  border-radius: 12px;
  font-size: 24px;
  color: var(--colorW);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorW);
  transition: background-color 1s ease-in-out;

  a {
    color: var(--colorW);
  }
}

.itemOnMobile {
  flex-direction: row;
  justify-content: flex-start;
}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.realContent {
  background-color: var(--colorW);
  overflow: hidden;
  border-radius: 50px 0 0 0;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
}

.indicadorPagina {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin: 25px;
  margin-left: 50px;
  font-weight: 700;
}

.arpaStats {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.statsText {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  width: 500px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.statsNumbers {
  font-weight: 700;
}

.togglerFilteringPosition {
  position: absolute;
  right: 25px;
  top: 125px;
  display: none;
  z-index: 1;
}

.gearToggle {
  font-size: 36px;
}

.giraRuedaAd {
  animation: spinAd 2s ease-in-out;
}

@keyframes spinAd {
  100% {
    -webkit-transform: rotate(540deg);
    transform: rotate(540deg);
  }
}

.giraRuedaAt {
  animation: spinAt 2s ease-in-out;
}

@keyframes spinAt {
  100% {
    -webkit-transform: rotate(-540deg);
    transform: rotate(-540deg);
  }
}

.closedFiltering {
  display: flex;
}

.openedFiltering {
  display: flex;
}

.mainviewAjustes {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  //max-width: calc(100vw - 400px);

  .ajustesCol1 {
    //border: 1px solid red;
    width: 340px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;

    .imgAjustesConte {
      width: 320px;
      display: flex;
      justify-content: center;
    }

    .imagenAvatarAjustes {
      border-radius: 50px;
      width: 300px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(194, 202, 239, 1) 25%, rgba(71, 98, 230, 1) 100%);
    }
  }

  .ajustesCol2 {
    //border: 1px solid red;
    //width: 690px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;

  }

  .ajustesCol3 {
    //border: 1px solid red;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
  }
}