.hugeContenedor {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: #FFFFFF;
}

@media (max-width: 420px) {
  .hugeContenedor {
    margin-top: 0;
    height: auto;
    width: 100vw;
    border-radius: 0;
  }
}

@media (min-width: 421px) and (max-width: 1025px) {
  .hugeContenedor {
    margin-top: 100px;
    width: 700px;
    height: 700px;
  }
}

.contenedorTitulo2 {
  background-color: #4762e6;
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorInputs2 {
  margin-top: 25px;
  width: 800px;
  height: 400px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  input:focus {
    outline: none;
    border: 1px solid #4762e6;
    transition: border 1s ease-in-out;
  }
}

@media (max-width: 420px) {
  .contenedorInputs2 {
    width: 100vw;
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 25px;
  }
}

.contenedorInputs3 {
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;

  input:focus {
    outline: none;
    border: 1px solid #4762e6;
    transition: border 1s ease-in-out;
  }
}

@media (max-width: 420px) {
  .contenedorInputs3 {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
}

.spacer1 {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 420px) {
  .spacer1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/*
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
*/

#inputApellido {
  background: url("/images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputNombre {
  background: url("/images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputDate {
  background: url("/images/calendar-days-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputDNI {
  background: url("/images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputPhone {
  background: url("/images/phone-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

.butLogINV {
  width: 300px;
  height: 50px;
  margin-top: 50px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border: 1px solid #4ebbf2;
  background-color: #4762e6;
  transition: background-color 1s ease-in-out,
    color 1s ease-in-out;
}

@media (max-width: 420px) {
  .butLogINV {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.butLogINV:hover {
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

.subtLog2 {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}