.miniContainer {
  display: flex;
  flex-direction: column;

  label {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
  }

  .dropdown {
    vertical-align: middle;
  }

  .dropdown {
    display: inline-block;
    overflow: hidden;
    width: 230px;
    height: 40px;
    background: var(--color5);
    border: 0;
    margin-right: 30px;
    font-size: 16px;
  }
}

@media (max-width: 420px) {
  .miniContainer .dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 341px;
  }
}

@media (max-width: 375px) {
  .miniContainer .dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 323px;
  }
}

.miniContainer input {
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 38px;
  background: var(--color5);
  border: 0;
  margin-right: 30px;
  font-size: 16px;
}

@media (max-width: 420px) {
  .miniContainer input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 337px;
  }
}

@media (max-width: 375px) {
  .miniContainer input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 319px;
  }
}

.dropdown option {
  cursor: pointer;
  font-size: 16px;
}


/* [ std-select ] */
.std-select {
  width: 230px;
  height: 40px;
}

.contenedorFiltros {
  margin: 25px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media (max-width: 420px) {
  .contenedorFiltros {
    margin-left: 25px;
    margin-right: 25px;
  }
}

.botonFiltrar{
  width: 230px;
    height: 40px;
    background: var(--color3);
    color: var(--colorW);
    border: 0;
    margin-right: 30px;
    font-size: 16px;
    cursor: pointer;
}