table {
  border: 1px solid var(--color4);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: 'Montserrat', sans-serif;
}

table tr {
  background-color: var(--colorW);
  border: 1px solid var(--color4);
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--color4);
  overflow: hidden;
  text-overflow: ellipsis;
}

table th {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--color3);
  color: var(--colorW);
}

body:not(.nohover) tbody tr:hover {
  border: 2px solid var(--color3);
  background-color: var(--color1);
}

.contenedorTabla {
  margin-left: 50px;
  margin-right: 50px;
  overflow-y: scroll;
  height: 550px;
}