.granContenedor {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--colorW);
}

@media (max-width: 767px) {
  .granContenedor {
    margin-top: 0px;
    border-radius: 0;
    width: 100vw;
  }
}
@media (min-width: 767px) and (max-width: 1025px) {
  .granContenedor {
    margin-top: 100px;
  }
}
@media (min-width: 1026px) and (max-width: 1366px) {
  .granContenedor {
    margin-top: 100px;
  }
}
.contenedorTitulo {
  background-color: var(--color3);
  width: 500px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorInputs {
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.contenedorInputs input:focus {
  outline: none;
  border: 1px solid var(--color3);
  transition: border 1s ease-in-out;
}

.tituloLog {
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  margin: 0;
  color: var(--colorW);
}

.subtLog {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 767px) {
  .subtLog {
    text-align: center;
  }
}
#inputEmail {
  background: url("../images/at-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputPass {
  background: url("../images/key-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

.inputField {
  padding-left: 15px;
  padding-right: 25px;
  width: 260px;
  height: 50px;
  border-radius: 12px;
  border: 1px solid #4ebbf2;
  font-family: "Montserrat", sans-serif;
}

.butLog {
  width: 300px;
  height: 50px;
  margin-top: 50px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000000;
  border: 1px solid #4ebbf2;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

.butLog:hover {
  background-color: var(--color3);
  color: var(--colorW);
  cursor: pointer;
}

.hugeContenedor {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  background-color: var(--colorW);
}

@media (max-width: 767px) {
  .hugeContenedor {
    margin-top: 0;
    height: auto;
    width: 100vw;
    border-radius: 0;
  }
}
@media (min-width: 767px) and (max-width: 1025px) {
  .hugeContenedor {
    margin-top: 100px;
    width: 700px;
    height: 700px;
  }
}
.contenedorTitulo2 {
  background-color: var(--color3);
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedorInputs2 {
  margin-top: 25px;
  width: 800px;
  height: 400px;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.contenedorInputs2 input:focus {
  outline: none;
  border: 1px solid var(--color3);
  transition: border 1s ease-in-out;
}

@media (max-width: 767px) {
  .contenedorInputs2 {
    width: 100vw;
    height: auto;
    padding-bottom: 0px;
    margin-bottom: 25px;
  }
}
.contenedorInputs3 {
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
}
.contenedorInputs3 input:focus {
  outline: none;
  border: 1px solid var(--color3);
  transition: border 1s ease-in-out;
}

@media (max-width: 767px) {
  .contenedorInputs3 {
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }
}
.spacer1 {
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .spacer1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/*
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
*/
#inputApellido {
  background: url("../images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputNombre {
  background: url("../images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputDate {
  background: url("../images/calendar-days-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputDNI {
  background: url("../images/id-card-regular.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

#inputPhone {
  background: url("../images/phone-solid.svg") no-repeat right;
  background-position: 96% 50%;
  background-size: 20px;
}

.butLogINV {
  width: 300px;
  height: 50px;
  margin-top: 50px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorW);
  border: 1px solid #4ebbf2;
  background-color: var(--color3);
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
}

@media (max-width: 420px) {
  .butLogINV {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.butLogINV:hover {
  background-color: var(--colorW);
  color: #000000;
  cursor: pointer;
}

.subtLog2 {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

.main {
  color: var(--colorW);
}

.browse {
  width: 100px;
  height: 100vh;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
  color: var(--colorW);
}
.browse a:first-child {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .browse {
    display: none;
  }
}
.content {
  width: 100vw;
  background-color: var(--color3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--colorB);
}

.userBar {
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--color3);
}

.userName {
  margin-right: 20px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  color: var(--colorW);
}

.userPic {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin-right: 50px;
  background-color: var(--colorW);
}

@media (max-width: 420px) {
  .userPic {
    margin-right: 20px;
  }
}
.menuItem {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 3px;
  min-width: 75px;
  max-width: 150px;
  min-height: 75px;
  border-radius: 12px;
  font-size: 24px;
  color: var(--colorW);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorW);
  transition: background-color 1s ease-in-out;
}
.menuItem a {
  color: var(--colorW);
}

@media (min-width: 1024px) and (max-width: 1367px) {
  .menuItem {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.itemOnMobile {
  flex-direction: row;
  justify-content: flex-start;
}

.menuItem:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (max-width: 420px) {
  .menuItem {
    padding-top: 0px;
    max-width: 375px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .menuItem:hover {
    max-width: 375px;
  }
}
.realContent {
  background-color: var(--colorW);
  overflow: hidden;
  border-radius: 50px 0 0 0;
  height: calc(100vh - 100px);
  width: calc(100vw - 100px);
}

@media (max-width: 767px) {
  .realContent {
    border-radius: 0px;
    height: calc(100vh - 100px);
    width: 100vw;
  }
}
@media (min-width: 768px) and (max-width: 820px) {
  .realContent {
    height: 100vh;
  }
}
.indicadorPagina {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  margin: 25px;
  margin-left: 50px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .indicadorPagina {
    font-size: 32px;
    margin: 25px;
  }
}
.arpaStats {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
}

.statsText {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  width: 500px;
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (max-width: 375px) {
  .statsText {
    font-size: 20px;
  }
}
@media (min-width: 376px) and (max-width: 420px) {
  .statsText {
    font-size: 24px;
  }
}
@media (min-width: 421px) and (max-width: 766px) {
  .statsText {
    font-size: 32px;
  }
}
@media (min-width: 767px) and (max-width: 1023px) {
  .statsText {
    font-size: 42px;
    width: 600px;
  }
}
@media (min-width: 1024px) and (max-width: 1367px) {
  .statsText {
    font-size: 24px;
    width: 330px;
  }
}
.statsNumbers {
  font-weight: 700;
}

.togglerFilteringPosition {
  position: absolute;
  right: 25px;
  top: 125px;
  display: none;
  z-index: 1;
}

@media (max-width: 767px) {
  .togglerFilteringPosition {
    display: block;
  }
}
.gearToggle {
  font-size: 36px;
}

.giraRuedaAd {
  -webkit-animation: spinAd 2s ease-in-out;
          animation: spinAd 2s ease-in-out;
}

@-webkit-keyframes spinAd {
  100% {
    transform: rotate(540deg);
  }
}

@keyframes spinAd {
  100% {
    transform: rotate(540deg);
  }
}
.giraRuedaAt {
  -webkit-animation: spinAt 2s ease-in-out;
          animation: spinAt 2s ease-in-out;
}

@-webkit-keyframes spinAt {
  100% {
    transform: rotate(-540deg);
  }
}

@keyframes spinAt {
  100% {
    transform: rotate(-540deg);
  }
}
.closedFiltering {
  display: flex;
}

@media (max-width: 1023px) {
  .closedFiltering {
    display: none !important;
  }
}
.openedFiltering {
  display: flex;
}

.togglerPosition {
  position: absolute;
  left: 30px;
  top: 25px;
  display: none;
}

@media (max-width: 768px) {
  .togglerPosition {
    display: block;
  }
}
#toggle {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
#toggle:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--colorW);
  transition: 0.2s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 var(--colorW);
}
#toggle:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: var(--colorW);
  transition: 0.2s;
  transform: translateY(10px);
}
#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0px 0 var(--colorW);
}
#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#browseMobile {
  padding-top: 50px;
  padding-left: 40px;
  position: fixed;
  margin-top: 100px;
  width: 100vw;
  height: calc(100vh - 100px);
  margin-left: -100vh;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  color: var(--colorW);
  background-color: rgba(71, 98, 230, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  z-index: 2;
}

@media (max-width: 375px) {
  #browseMobile {
    padding-top: 25px;
    padding-left: 40px;
  }

  .menuItem {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 60px;
  }
}
@media (max-width: 768px) {
  #browseMobile {
    display: flex;
  }

  .fa-solid {
    min-width: 30px;
  }
}
@media (max-width: 420px) {
  .menuItem {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.closed {
  transform: translateX(-100vh);
  transition: cubic-bezier(0.58, 0.91, 0, 1) 1000ms;
}

.opened {
  transform: translateX(100vh);
  transition: ease-in-out 700ms;
}

.menuText {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  margin: 0;
  padding-top: 5px;
}

.biggerText {
  font-size: 30px;
  padding-top: 0px;
  padding-left: 25px;
}

table {
  border: 1px solid var(--color4);
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  font-family: "Montserrat", sans-serif;
}

table tr {
  background-color: var(--colorW);
  border: 1px solid var(--color4);
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid var(--color4);
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 420px) {
  table th,
table td {
    border: 0;
  }
}
table th {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--color3);
  color: var(--colorW);
}

@media (max-width: 821px) {
  table {
    border: 0;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 1px solid var(--color4);
    display: block;
    margin-bottom: 15px;
  }

  table td {
    border-bottom: 1px solid var(--color4);
    display: block;
    font-size: 16px;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:first-child {
    background-color: var(--color3);
    color: var(--colorW);
  }

  table td:last-child {
    border-bottom: 0;
  }
}
body:not(.nohover) tbody tr:hover {
  border: 2px solid var(--color3);
  background-color: var(--color1);
}

.contenedorTabla {
  margin-left: 50px;
  margin-right: 50px;
  overflow-y: scroll;
  height: 550px;
}

@media (max-width: 767px) {
  .contenedorTabla {
    margin-left: 25px;
    margin-right: 25px;
    overflow-y: auto;
  }
}
@media (min-width: 1024px) and (max-width: 1367px) {
  .contenedorTabla {
    height: 445px;
  }
}
.miniContainer {
  display: flex;
  flex-direction: column;
}
.miniContainer label {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}
.miniContainer .dropdown {
  vertical-align: middle;
}
.miniContainer .dropdown {
  display: inline-block;
  overflow: hidden;
  width: 230px;
  height: 40px;
  background: var(--color5);
  border: 0;
  margin-right: 30px;
  font-size: 16px;
}

@media (min-width: 421px) and (max-width: 767px) {
  .miniContainer .dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 430px;
  }
}
@media (max-width: 420px) {
  .miniContainer .dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 341px;
  }
}
@media (max-width: 375px) {
  .miniContainer .dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 323px;
  }
}
.miniContainer input {
  display: inline-block;
  overflow: hidden;
  width: 300px;
  height: 38px;
  background: var(--color5);
  border: 0;
  margin-right: 30px;
  font-size: 16px;
}

@media (min-width: 421px) and (max-width: 767px) {
  .miniContainer input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 430px;
  }
}
@media (max-width: 420px) {
  .miniContainer input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 337px;
  }
}
@media (max-width: 375px) {
  .miniContainer input {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 319px;
  }
}
.dropdown option {
  cursor: pointer;
  font-size: 16px;
}

/* [ std-select ] */
.std-select {
  width: 230px;
  height: 40px;
}

#contenedorFiltros {
  margin: 25px;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 12px;
}

@media (max-width: 767px) {
  #contenedorFiltros {
    margin-left: 25px;
    margin-right: 25px;
    gap: 0px;
  }
}
.botonEnSelect {
  min-width: 115px;
  height: 40px;
  background: var(--color3);
  color: var(--colorW);
  border: 0;
  margin-right: 30px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
}

#botonAddRefu, #botonAddPerso, #botonAddMasco {
  background: var(--color6);
  margin-left: auto;
  margin-right: 25px;
}

@media (min-width: 421px) and (max-width: 1024px) {
  .botonEnSelect {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #botonAddRefu, #botonAddPerso, #botonAddMasco {
    margin-right: 0px;
  }
}
@media (max-width: 420px) {
  .botonEnSelect {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #botonAddRefu, #botonAddPerso, #botonAddMasco {
    margin-right: 0px;
  }
}
#toastOK {
  visibility: hidden;
  width: 400px;
  background-color: green;
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 100px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}

#toastOK.show {
  visibility: visible;
  -webkit-animation: fadein 1.5s, fadeout 1.5s 2s;
  animation: fadein 1.5s, fadeout 1.5s 2s;
  border-radius: 0px 0px 0px 25px;
}

#toastNOT {
  visibility: hidden;
  width: 400px;
  background-color: red;
  color: #FFFFFF;
  text-align: center;
  padding: 16px;
  position: fixed;
  right: 0;
  top: 100px;
  font-size: 24px;
  font-family: "Oswald", sans-serif;
}

#toastNOT.show {
  visibility: visible;
  -webkit-animation: fadein 1.5s, fadeout 1.5s 2s;
  animation: fadein 1.5s, fadeout 1.5s 2s;
  border-radius: 0px 0px 0px 25px;
}

@-webkit-keyframes fadein {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    right: -400px;
    opacity: 0;
  }
  to {
    right: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -400px;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    right: 0px;
    opacity: 1;
  }
  to {
    right: -400px;
    opacity: 0;
  }
}
html {
  background: var(--color3);
  --colorW: #FFFFFF;
  --colorB: #000000;
  --color1: #c2caef;
  --color2: #4dbcf4;
  --color3: #4762e6;
  --color4: #d4d4d4;
  --color5: rgb(230, 230, 255);
  --color6: #007900;
  display: flex;
  align-items: center;
  justify-content: center;
  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);
}

html[data-theme=sol] {
  background: var(--colorW);
}

@media (max-width: 420px) {
  html {
    background: var(--colorW);
  }
}
.byus {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.byus a {
  text-decoration: none;
}

.bps {
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .bps {
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0);
  }
}
.linkNoStyle {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */