@use "enIndex";
@use "barra";
@use "tablas";
@use "selectores";
@use "toasts";
@use "buttonStyles";
@use "modales";

html {
  background: var(--color3);

  --colorW: #FFFFFF;
  --colorB: #000000;
  --color1: #c2caef;
  --color2: #4dbcf4;
  --color3: #4762e6;
  --color4: #d4d4d4;
  --color5: rgb(230, 230, 255);
  --color6: #007900;
  --color7: #d4d400;



  display: flex;
  align-items: center;
  justify-content: center;

  --select-border: #777;
  --select-focus: blue;
  --select-arrow: var(--select-border);

}

html[data-theme="sol"] {
  background: var(--colorW);

}

@media (max-width: 420px) {
  html {
    background: var(--colorW);
  }
}

.byus {
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.bps {
  -webkit-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
  .bps {
    -webkit-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 15px 1px rgba(0, 0, 0, 0);
  }
}

.linkNoStyle {
  text-decoration: none;
}

